/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require _bootstrap
 *= require font-awesome
 *= require_tree .
 *= require_self
 *= require slick
 *= require slick-theme
 */

/*my styles*/
.down{
    margin-top: 50px;
}
.half-down{
    margin-top: 10px;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;

}
.footer p{
    margin-top: 18px;
}
h1,h2,h3{
    line-height: 1;
}
section.user_info{
    margin-top: 20px;
}
.gravatar{
    float: left;
    margin-right: 10px;
}
.gravatar_edit{
    margin-top: 15px;
}
li{
  list-style-type: none;
}
.users li{
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}
.user-link{
    padding-left: 20px;
}
.albums{
    list-style: none;
    padding: 0;
}
.user{
    margin-top: 5em;
    padding-top: 0;
}
.timestamp{
    color: lightgray;
    display: block;
    margin-left: 60 px;
}
.photo{

}
.stats{
    overflow: auto;
    margin-top: 5px;
    padding: 0;
}
.stats a{
    float: left;
    padding: 0px 10px;
    border-left: 1px solid lightgrey;
    color: grey;
}
.photo-form{
    margin-top: 5px;
}
.albums li{
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid lightgray;
}
.rating{

}
.line{
    border-bottom: 1px solid lightgray;
    padding: 10px;
}
.center{
    display: block;
    margin: 0 auto;
}
.carousel-caption{
    padding-bottom: 0px;
}

.rating label {
    position: relative;
    display: inline;
    float: left;
    z-index:1;
    width:5px;
    height:16px;
}
.rating input[type=radio] {
    z-index: 2;
    display:inline;
    float: left;
    width:16px;
    height:16px;
}
.star {
   /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAwCAMAAADAQ2FbAAAAAXNSR0IArs4c6QAAALFQTFRF/////f7//1UA+Pv+/P3+9fj9xM/d/6UA8fb8y9Xi5eft/4cA5uz0/P7/6/P83OPr69PL197n8PP2/5YA7e3w/v//77OS/7UA+Pn7+vv+4sW8vMjX/msD/8AA9VEA7Itd94tC95pC693c36eQ9Z5j/3gA+Ycq+psl+3Ub3WYv/I4Q8LN95ZJt6XI64Lms8E8A7WIg8VkP9O/u431N35t9/ZYR+fHu77+l/aMQ/GYR+PX1nwS4LAAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfbCAsIKx+mNyuoAAABpElEQVQoz2WS13qjMBCFkTSqiGo6GBdcEzs9297/wRYBIstmuOH7OaOZc5DjjIWQsyyklbckhDGyUCHBpE4XEqmUpPYzEEJ9qRPpU0IADSfUjEVxXDDZPxr6BhYFKomLsohVJEnfRQI5EhpH0TCwR0zpOP4TB9G0QUp7kU6ShNlpDjUnKa2ksMSvo4jVQcB8ZD3147UvpYwmb56sA4o8EtQMrIaS1CxPY/RPNt/zCUNYEjjs6DKf5GG1XxCScf4450OoEPrM819aCGqMwWa7Pbk8X6/5ebc7/ACnDJujuzJkzfnDTy91kBdeesLzPOef4RiHp04GcX7e239GM9dd9fX4lc/26Jra2XyQf2ma09Y9NnM+e/w7EyK7NLO3bJMUKCXJIbOashzegBRzPsbL238BQdct80np/UUsRBC2uCrntAA8f4PxuwAwl8UBsa+q7hXjtquqUEDqkOsznqu9vqUOmA5bd2XaPHGzYENhcvoxgnffm+4r/bASO1/czaEYX+2S4D/j1+7pBbfKeq/amyJE3dqniXhhRQf7YWWtjcv3bJj0F1myHFtkBXYZAAAAAElFTkSuQmCC) 0 -16px;
    height:16px;
    width:16px;
    z-index:1;
    position: absolute;
    top: 22px;
    display:block;
    cursor:pointer;
    left: 15px;*/
}
.rating:hover .star {
    background-position: 0 -32px;
}
input:checked ~ label .star {
    background-position: 0 0;
}
input:checked + label .star {
    background-position: 0 -16px;
}
label:hover ~ label .star {
    background-position: 0 0 !important;
}


